$color-primary: hsl(176, 50%, 47%);
$color-primary-dark: hsl(176, 72%, 28%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 48%);

// typograghy 
$default-font-family: 'Commissioner', sans-serif;
$default-font-size: 1.6rem;