.bookmark {
	display: flex;
	align-items: center;
	position: relative;
	width: 17.4rem;
	background-color: #f4f4f4;
	border-radius: 100px;
	cursor: pointer;

	p {
		position: absolute;
		left: calc(calc(100% - 56px) - 50%);
		transform: translateX(50%);
		font-weight: 700;
	}
}